<!DOCTYPE html>
<html>
    <link href="bootstrap.css" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="normalize.css" rel ="stylesheet">
    <link href="skeleton.css" rel ="stylesheet">
<body>
    <div className ='container'>
    <div id="app"></div>
    </div>
    <script src='app.js'></script>
</body>
</html>